{% extends "base.html" %}
{% from "timeslot/includes/booking_list.html" import booking_listing  with context %}

{% block page_title %}{{ profile.display_name }} | Users | {% endblock %}

{% block page_id %}user_profile{% endblock %}

{% block section_class %}profile{% endblock %}

{% block content %}
<div class="content_columns columns">
<div class="col main box">
<header class="vcard">
    <h1 class="fn">{{ profile.display_name }}</h1>
    {% if profile.website %}
        <a href="{{ profile.website }}" class="url">{{ profile.website }}</a>
    {% endif %}
    {% if profile.bio %}
        <p>{{ profile.bio }}</p>
    {% endif %}
    {% if profile.user == user %}
        <ul class="user_tools">
            <li>
                <a href="{{ url('users_edit') }}" class="cta do">{{ _('Edit your profile') }}</a>
            </li>
        </ul>
    {% endif %}
    <div class="frame box">
        <img class="photo" src="{{ profile.avatar_url(80) }}" alt="" width="80" height="80" />
    </div>
</header>
{% if profile.bio %}
<p>{{ profile.bio }}</p>
{% endif %}

{% if need_booking_list or booked_list %}
<div class="highlight box">
<h2 class="box-title point">Webcasts</h2>
{% if profile.user == user %}
{% if need_booking_list %}
<h3 class="box-title wimper">Book your webcast slot</h3>
<p>As you have green lit submissions (congrations by the way) you need to book up a time slot for a webcast. Please select a timeslot for each application you have below.</p>
<ul>
  {% for object in need_booking_list %}
  <li><a href="{{ url('timeslot:object_list', entry_id=object.id) }}">{{ object.title }}</a></li>
  {% endfor%}
</ul>
{% endif %}
{% endif %}
{% if booked_list %}
<h3 class="box-title wimper">Upcoming webcasts</h3>
{% if profile.user == user %}
<p>Don't forget that you've got upcoming webcast timeslots booked up. Make sure you're ready to go for:</p>
{% else %}
<p>You can view upcoming webcasts of their current idea and developments on their following submissions:</p>
{% endif %}
{{ booking_listing(booked_list) }}
{% endif %}
</div>
{% endif %}

{% if development_submissions %}
    <h2 class="wimper">{{ _('Applications') }}</h2>
    <ul class="columns submissions">
        {% for app in development_submissions %}
        <li class="col box">
            <article>
            <a class="title" href="{{ app.get_absolute_url() }}">
                <h3 class="title wimper">
                    <div class="frame box">
                        <img src="{{ app.get_image_src() }}" alt="" />
                    </div>
                    {{ app.title }}
                </h3>
            </a>
            </article>
            {% if app.editable_by(user) %}
                {% if app.is_draft %}
                    <div class="alerts inline">
                        <p><strong>Application in draft</strong></p>
                        <p>Only you can see this until you uncheck the "Save as draft?" option.</p>
                        <a href="{{ app.get_edit_url() }}" class="cta do">Edit your application</a>
                    </div>
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endif %}
{% if ideation_submissions %}
    <h2 class="wimper">{{ _('Ideas') }}</h2>
    <ul class="columns submissions">
        {% for idea in ideation_submissions %}
        <li class="col box">
            <article>
            <a class="title" href="{{ idea.get_absolute_url() }}">
                <h3 class="title wimper">
                    <div class="frame box">
                        <img src="{{ idea.get_image_src() }}" alt="" />
                    </div>
                    {{ idea.title }}
                </h3>
            </a>
            </article>
            {% if idea.editable_by(user) %}
                {% if idea.is_draft %}
                    <div class="alerts inline">
                        <p><strong>Idea in draft</strong></p>
                        <p>Only you can see this until you uncheck the "Save as draft?" option.</p>
                        <a href="{{ idea.get_edit_url() }}" class="cta do">Edit your idea</a>
                    </div>
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endif %}
    {% if ideation.is_open %}
    <a href="{{ url('create_entry', phase='ideas') }}" class="cta">{{ _('Create an idea') }}</a>
    {% endif %}
    {% if development.is_open %}
    <a href="{{ url('create_entry', phase='apps') }}" class="cta">{{ _('Create an application') }}</a>
    {% endif %}


</div>
</div>
{% endblock %}
