{% extends "second_base.html" %}
{% from "timeslot/includes/booking_list.html" import booking_listing  with context %}

{% block page_title %}{{ profile.display_name }} | Users | {% endblock %}

{% block page_id %}user_profile{% endblock %}

{% block section_class %}profile{% endblock %}

{% block content %}
<div class="content_columns columns">
<div class="col main box">
<header class="vcard">
    <h1 class="fn">{{ profile.display_name }}</h1>
    {% if profile.website %}
        <a href="{{ profile.website }}" class="url">{{ profile.website }}</a>
    {% endif %}
    {% if profile.bio %}
        <p>{{ profile.bio }}</p>
    {% endif %}
    {% if profile.user == user %}
        <ul class="user_tools">
            <li>
                <a href="{{ url('users_edit') }}" class="cta do">{{ _('Edit your profile') }}</a>
            </li>
        </ul>
    {% endif %}
    <div class="frame box">
        <img class="photo" src="{{ profile.avatar_url(80) }}" alt="" width="80" height="80" />
    </div>
</header>
{% if profile.bio %}
<p>{{ profile.bio }}</p>
{% endif %}

{# Judge assigned webcasts #}
{% if webcast_list  %}
<h2>Webcasts of assigned Ideas</h2>
{{ booking_listing(webcast_list) }}
{% endif %}

{% if profile.user == user %}

{# User webcasts waiting to be booked #}
{% if need_booking_list %}
<h2>Green-lit ideas ready for webcast booking</h2>
<ul>
  {% for object in need_booking_list %}
  <li><a href="{{ url('timeslot:object_list', entry_id=object.id) }}">{{ object.title }}</a></li>
  {% endfor%}
</ul>
{% endif %}

{# User booked webcasts #}
{% if booked_list %}
<h2>Your Upcoming webcasts</h2>
{{ booking_listing(booked_list) }}
{% endif %}
{% endif %}

{% if submissions %}
    <h2 class="wimper">{{ _('Ideas') }}</h2>
    <ul class="columns submissions">
        {% for idea in submissions %}
        <li class="col box">
            <article>
            <a class="title" href="{{ idea.get_absolute_url() }}">
                <h3 class="title wimper">
                    <div class="frame box">
                        <img src="{{ idea.get_image_src() }}" alt="" />
                    </div>
                    {{ idea.title }}
                </h3>
            </a>
            </article>
            {% if idea.editable_by(user) %}
                {% if idea.is_draft %}
                    <div class="alerts inline">
                        <p><strong>Idea in draft</strong></p>
                        <p>Only you can see this until you uncheck the "Save as draft?" option.</p>
                        <a href="{{ idea.get_edit_url() }}" class="cta do">Edit your idea</a>
                    </div>
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endif %}
    {% if ideation.is_open %}
    <a href="{{ url('create_entry', phase='ideas') }}" class="cta">{{ _('Create an idea') }}</a>
    {% endif %}
    {% if development.is_open %}
    <a href="{{ url('create_entry', phase='proposals') }}" class="cta">{{ _('Create a proposal') }}</a>
    {% endif %}


</div>
</div>
{% endblock %}
