{% extends "second_base.html" %}

{% block page_title %}{{ profile.display_name }} | Users | {% endblock %}

{% block page_id %}user_profile{% endblock %}

{% block section_class %}profile{% endblock %}

{% block content %}
<div class="content_columns columns">
<div class="col main box">
<header class="vcard">
    <h1 class="fn">{{ profile.display_name }}</h1>
    {% if profile.website %}
        <a href="{{ profile.website }}" class="url">{{ profile.website }}</a>
    {% endif %}
    {% if profile.bio %}
        <p>{{ profile.bio }}</p>
    {% endif %}
    {% if profile.user == user %}
        <ul class="user_tools">
            <li>
                <a href="{{ url('users_edit') }}" class="cta do">{{ _('Edit your profile') }}</a>
            </li>
        </ul>
    {% endif %}
    <div class="frame box">
        <img class="photo" src="{{ profile.avatar_url(80) }}" alt="" width="80" height="80" />
    </div>
</header>
{% if submissions %}
    <h2 class="wimper">{{ _('Ideas') }}</h2>
    <ul class="columns submissions">
        {% for idea in submissions %}
        <li class="col box">
            <article>
            <a class="title" href="{{ idea.get_absolute_url() }}">
                <h3 class="title wimper">
                    <div class="frame box">
                        <img src="http://src.sencha.io/320/{{ app_url }}{{ idea.get_image_src() }}" alt="" />
                    </div>
                    {{ idea.title }}
                </h3>
            </a>
            </article>
            {% if idea.editable_by(user) %}
                {% if idea.is_draft %}
                    <div class="alerts inline">
                        <p><strong>Idea in draft</strong></p>
                        <p>Only you can see this until you uncheck the "Save as draft?" option.</p>
                        <a href="{{ idea.get_edit_url() }}" class="cta do">Edit your idea</a>
                    </div>
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endif %}
<a href="{{ url('create_entry') }}" class="cta">{{ _('Create an idea') }}</a>
</div>
</div>
{% endblock %}
