{% extends "second_base.html" %}

{% block page_title %}{{ _('Page not found | ') }}{% endblock %}

{% block page_id %}not_found%{% endblock %}

{% block section_class %}error{% endblock %}

{% block content %}
<h1>Whoops</h1>
<div class="highlight">
<h2 class="box-title point">Page not found</h2>
<p class="intro">The page that you're looking for may have been moved or deleted. Make sure to check your spelling.</p>
<h3 class="wimper">Your could also:</h3>
<ul>
    <li><a href="{{ url('entries_all') }}">view all our existing ideas</a></li>
    <li><a href="{{ url('about_ignite') }}">learn more about the Mozilla Ignite challenge</a></li>
    <li><a href="{{ url('create_entry') }}">submit your own idea</a></li>
</ul>
</div>
{% endblock %}
