{% extends "base.html" %}

{% block page_title %}{{ _('Server error | ') }}{% endblock %}

{% block page_id %}server_error{% endblock %}

{% block section_class %}error{% endblock %}

{% block content %}
<h1>Oh dear...</h1>
<div class="highlight">
<h2 class="box-title point">Something has just happened that our server wasn't very happy with.</h2>
<p class="intro">It might have been just a temporary blip. If you continue to encounter difficulties, feel free to  <a href="mailto:ignite@mozillafoundation.org">get in touch</a>.</p>
<p class="intro">Sorry for the inconvenience.</p>
</div>
{% endblock %}
