{% extends "challenges/all.html" %}

{% block title_listing %}Search Ideas{% endblock title_listing %}

{% block content %}
<div class="content_columns columns with_nav">

<nav class="tags col box nav">
  <form method="get" id="form-search-id" action="{{ url('search:search') }}">
    <ul>
      {{ form.as_ul() }}
      <li>
        <input class="cta" type="submit" value="Search">
      </li>
    </ul>
  </form>
</nav>

  <div class="highlight col box main">
    <ol class="submissions columns">
      {% for result in page.object_list %}
      <li class="box col">
        <article>
          <a class="title" href="{{ result.object.get_absolute_url() }}">
            <h3 class="title wimper">
              <div class="frame box">
                <img src="http://src.sencha.io/200/{{ app_url }}{{ result.object.submission.get_image_src() }}" alt="">
              </div>
              {{ result.object.submission.title }}
            </h3>
          </a>
          <p>{{ result.object.submission.brief_description }}</p>
          <address>{{ created_by(result.object.submission, footer=False) }}</address>
        </article>
      </li>
      {% endfor %}
    </ol>

    {% if query %}
    {{ footer_pagination(page, query) }}
    {% endif %}

  </div>
</div>
</div>
</div>
</section>
{% endblock %}
