{% extends "base.html" %}

{% block page_title %}Please login or register | {% endblock %}

{% block page_id %}create_account{% endblock %}

{% block section_class %}register{% endblock %}

{% block header %}
<h1 class="shout">Please login or register</h1>
<p>Before you create a submission to Mozilla Ignite you'll need to login or create an account on the site, but don't worry we've made this as easy a process as possible.</p>
<p>Using a new identity service from Mozilla called browserID all you need do is provide us with an email address and we'll create the account for you. If you want to know more about browserID you can read all about it at <a href="https://browserid.org/about/">browserID.org</a></p>
<form method="POST" action="{{ browserid_target }}" class="browserid_form">
    {{ csrf()|safe }}
    <input type="hidden" name="assertion" class="id_assertion" />
    <a class="cta login" href="#">{{ _('Log in or register') }}</a> 
</form>
{% endblock %}
