settings_local.py
*.py[co]
*.sw[po]
*.komodoproject
.coverage
pip-log.txt
build/
graveyard.css
docs/_gh-pages
build.py
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
.noseids
tmp/*
*~
locale/*
media/img/uploads/*
notes.rst
media/ignite/img/uploads*
whoosh_index/
requirements/src/*
/src/
#*
.#*
.vagrant
vagrantconfig_local.yaml
media/ignite/dummy/
