<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/418/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/project-default.png" alt="">
                </div>
                A Reliable Communication Protocol for Remote Process Control
            </h3>
        </a>
        <p>We will remotely observe and control advanced manufacturing processes using software defined networking and gigabit broadband with high reliability, which is not possible with the TCP/IP Internet.</p>
        <a class="cta do" href="http://youtu.be/VEwx6YISbwE">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/XIRJxj8tuMIMhRnqMZX_LcjFc1g/" class="fn url">George Adams and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/404/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/realtimeinfo.jpg" alt="">
                </div>
                Real-Time Emergency Response
            </h3>
        </a>
        <p>Detection, observation, and assessment of situations requiring intervention by emergency responders depends on high-quality "live" data.</p>
        <a class="cta do" href="http://youtu.be/7hwQYcxQHCY">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/8P-SLSEjAZZs0olzT8_8ZKLi-80/" class="fn url">Jeremy and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/419/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/engage3D.jpg" alt="">
                </div>
                engage 3D Video Conferencing
            </h3>
        </a>
        <p>We are going to extend current video conferencing technology to 3D using the Microsoft Kinect, WebGL and WebRTC.</p>
        <a class="cta do" href="http://youtu.be/mEmRptSUH4o">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/e_ycaNTAnGJmhmoclWT-DfrsO5A/" class="fn url">Bill Brock and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/374/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/webconferencing.jpg" alt="">
                </div>
                High Quality Open Source Web Conferencing
            </h3>
        </a>
        <p>Every student with a browser should have access to high-quality education. We intend to make that possible with BigBlueButton.</p>
        <a class="cta do" href="http://youtu.be/J4b9_UEj6l4">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/6sxsK2qk9kmgd396G8MYMMr9In0/" class="fn url">Fred Dixon and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/396/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/kinectHealth.jpg" alt="">
                </div>
                KinectHealth
            </h3>
        </a>
        <p>Virtual fitness studio. Achieving fitness goals requires peers and a place to meet. Convenient and easy, an online studio for anytime+anywhere fitness with peer groups for a better life.</p>
        <a class="cta do" href="http://youtu.be/xOtZjbTSibY">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/DtqNKYksgXzzGVpSu7bVPGfoK4w/" class="fn url">Bob Summers and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/373/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/openpath.jpg" alt="">
                </div>
                OpenPath
            </h3>
        </a>
        <p>OpenPath makes place-based, collaborative learning possible for all in real-time.</p>
        <a class="cta do" href="http://youtu.be/vT50fg_ojOM">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/ixEmu5I5VWVrksJ7jVoe_IO6v3w/" class="fn url">jaredlamenzo and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/421/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/euMetrica.jpg" alt="">
                </div>
                euMetrica - a remote monitoring and notification system
            </h3>
        </a>
        <p>In-time reporting, alerting and informing caregivers about medical conditions and events. Real-time preventative care via live variables on an individual level. http://project.eumetrica.com/the-vision.</p>
        <a class="cta do" href="http://youtu.be/e3yN1yZY124">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/Ki-8NB77dM1EuFG2hjCNylZhkAg/" class="fn url">Dmitri Boulanov and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/412/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/project-default.png" alt="">
                </div>
                Banyan - share collaborate & publish scientific research
            </h3>
        </a>
        <p>We make it easy for scientists to share collaborate & publish scientific research using gigabit networks.</p>
        <a class="cta do" href="http://youtu.be/D8r4bmQ36qQ">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/t9TkKNhLLBkusARiUnwxIkQsvig/" class="fn url">Toni Gemayel and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/408/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/project-default.png" alt="">
                </div>
                Hyperaudio Pad and Language Course Creator
            </h3>
        </a>
        <p>Learning languages is difficult, we aim to make it easier, more engaging and collaborative by developing an application based on word-accurately-timed transcripts - an approach we call Hyperaudio.</p>
        <a class="cta do" href="http://youtu.be/pRlWMA_Af1U">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/_7Ap948HNjQVKq8ypPCwREFaRTg/" class="fn url">Mark Boas and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/409/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/wecounsil.jpg" alt="">
                </div>
                WeCounsel Solutions, An Online Therapy Innovation
            </h3>
        </a>
        <p>WeCounsel is a distance treatment solution for therapists; our customized videoconferencing feature provides an alternative to in-person therapy for those unable to physically make it to the office.</p>
        <a class="cta do" href="http://youtu.be/5c_C9YR3p6o">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/7IuXDYVlBZozB8hbyyKf-qpLpIc/" class="fn url">WeCounsel Solutions, LLC</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/420/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/transit.jpg" alt="">
                </div>
                Optimizing Public Transit
            </h3>
        </a>
        <p>We are developing tools to help city planners make smarter decisions around real-time dynamic scheduling of public transportation.</p>
        <a class="cta do" href="http://youtu.be/gSI6j0DuGjQ">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/BxmUjtGGvKBBW8iMYNKu0ulZAqY/" class="fn url">Noah Sidman-Gale and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/443/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/saas.jpg" alt="">
                </div>
                Simulation-as-a-Service for Advanced Manufacturing
            </h3>
        </a>
        <p>We want to transform how professionals and students can make and learn-about advanced manufacturing components through a "simulation-as-a-service" app based on cloud resource and software access.</p>
        <a class="cta do" href="http://youtu.be/ZM08KYhBSKM">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/jiUBpfQ8-3AKrbxjVQ7e2gORpR8/" class="fn url">Prasad Calyam and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/415/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/cloudManufacture.jpg" alt="">
                </div>
                Cloud Computing for Collaborative Advanced Manufacturing
            </h3>
        </a>
        <p>Our app uses ultra fast, low latency networks to enable remote collaboration for advanced manufacturing. Manufacturers will be able to work together to build things they cannot build today.</p>
        <a class="cta do" href="http://youtu.be/-jBMBODyWfk">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/jkeG2lbLuGAevCllcR4_txAwm14/" class="fn url">Professor J. Cecil and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/479/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/peerCDN.jpg" alt="">
                </div>
                PeerCDN
            </h3>
        </a>
        <p>We are building a peer-to-peer content delivery network (CDN) that will make the web faster, more reliable, and help sites to reduce bandwidth costs.</p>
        <a class="cta do" href="http://youtu.be/cWhR5NHFNt4">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/zolV-OKseas82KYkKqEQfzW_SsU/" class="fn url">Feross Aboukhadijeh and Abi Raja</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/466/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/consumer3D.jpg" alt="">
                </div>
                Consumer 3D Content Creation
            </h3>
        </a>
        <p>Consumers love web experiences for video, images, and published content. These experiences don't exist for 3D content!</p>
        <a class="cta do" href="http://youtu.be/CpFSmC2rjMc">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/LsELflt-frwwgssTuLLDEILOsc8/" class="fn url">Lynx Laboratories</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/460/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/project-default.png" alt="">
                </div>
                The Software Lending Library
            </h3>
        </a>
        <p>A lack of ubiquitous access to needed applications among Kansas City's students, inner city residents, entrepreneurs and researchers.</p>
        <a class="cta do" href="http://youtu.be/n1gCizBeJq8">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/5hgciuKMGj3fO8N_S4eoRCVtYeI/" class="fn url">Dave and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/469/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/planIT.jpg" alt="">
                </div>
                PlanIT Impact - 3D planning/design and impact assessment tool
            </h3>
        </a>
        <p>Engaging citizens in the city planning process requires clearer visualization of proposed construction and potential impacts on a community. The goal of this tool is to promote smarter decisions.</p>
        <a class="cta do" href="http://youtu.be/-MLNEwqyhIc">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/YN6w-ds3ISmO4-egTjOGg5hKFwM/" class="fn url">Dominique Davison and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/457/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/briefcase-health.jpg" alt="">
                </div>
                Brief+Case Health
            </h3>
        </a>
        <p>Children miss hours/days of school for routine & specialty health care. Attendance & performance are directly related. School telehealth programs don't/can't support parental remote participation.</p>
        <a class="cta do" href="http://youtu.be/NL4aEAesF8Y">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/3QyKP9nv5vdYixfPSIDRG-gzBPs/" class="fn url">Morgan Waller, Richard Welnowski and Lisa Large</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/462/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/project-default.png" alt="">
                </div>
                Luminosity
            </h3>
        </a>
        <p>Easily create interactive scientific visualizations in a web application.</p>
        <a class="cta do" href="http://youtu.be/hgMj3_ZT9J0">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/wim95nN--UWAeWRzp050s_HCJB0/" class="fn url">Amit Kapadia</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/484/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/project-default.png" alt="">
                </div>
                CIZZLE (Collaborative Science Learning Environment) 
            </h3>
        </a>
        <p>Sparking interest in STEM learning through engaging real-time simulations and rich media content.</p>
        <a class="cta do" href="http://youtu.be/kHihDUGQYzQ">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/UQ1u6zsfShEb9MOQ4-e38LXjGuc/" class="fn url">Ole Lütjens and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/405/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/project-default.png" alt="">
                </div>
                The Rashomon Project: Online Multi-Perspective Chronologies
            </h3>
        </a>
        <p>Letting the public obtain a comprehensive understanding of an event from many video accounts.</p>
        <a class="cta do" href="http://youtu.be/rAMT9Nxaxv8">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/xmqXFSvmxGzvRhXCdYNsfSFw0IQ/" class="fn url">Sponsored Projects Office - UC Berkeley</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/410/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/project-default.png" alt="">
                </div>
                FloodCube - Flood Information System
            </h3>
        </a>
        <p>Providing a one-stop platform for flood warnings, forecasts, visualizations, mapping and weather information.</p>
        <a class="cta do" href="http://youtu.be/tFi4-YCGcBg">Watch their final pitch</a>
        <address>
            <p>Created by <a href="/profile/fcJ-qIUvfDapG8GkU6jIVbEohUA/" class="fn url">Dr. Ibrahim Demir, Dr. Bilal Gonen and team</a></p>
        </address>
    </article>
</li>