<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/418/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/project-default.png" alt="">
                </div>
                Remote Process Control Using a Reliable Communication Protocol
            </h3>
        </a>
        <p>Observe &amp; control remote processes reliably &amp; in real time with smart, redundant network paths.</p>
        <a class="cta do" href="http://youtu.be/VEwx6YISbwE">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/418/#team_details" class="fn url">George Adams and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/404/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/real-time-emergency.png" alt="">
                </div>
                Real-Time Emergency Response
            </h3>
        </a>
        <p>Detect, observe, &amp; assess situations for emergency responders using live video & social media data.</p>
        <a class="cta do" href="http://youtu.be/7hwQYcxQHCY">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/404/#team_details" class="fn url">Jeremy Cooperstock and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/419/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/engage3D.jpg" alt="">
                </div>
                engage3D
            </h3>
        </a>
        <p>Create engaging learning experiences using real-time 3D telepresence, streaming Kinect sensor data.</p>
        <a class="cta do" href="http://youtu.be/mEmRptSUH4o">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/419/#team_details" class="fn url">Bill Brock and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/374/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/web-conferencing.png" alt="">
                </div>
                High Quality Open Source Web Conferencing
            </h3>
        </a>
        <p>Every student with a browser should have access to high-quality education.</p>
        <a class="cta do" href="http://youtu.be/J4b9_UEj6l4">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/374/#team_details" class="fn url">Fred Dixon and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/396/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/kinect-health.png" alt="">
                </div>
                KinectHealth
            </h3>
        </a>
        <p>Achieve fitness goals with peers & your trainer from anywhere.</p>
        <a class="cta do" href="http://youtu.be/xOtZjbTSibY">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/396/#team_details" class="fn url">Bob Summers and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/373/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/openpath.jpg" alt="">
                </div>
                OpenPath
            </h3>
        </a>
        <p>Mobile, "path"-based, collaborative learning in real-time.</p>
        <a class="cta do" href="http://youtu.be/vT50fg_ojOM">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/373/#team_details" class="fn url">Jared Lamenzo and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/421/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/euMetrica.jpg" alt="">
                </div>
                euMetrica
            </h3>
        </a>
        <p>Monitor &amp; alert patients and docs with real-time, cloud-based analysis of health sensors.</p>
        <a class="cta do" href="http://youtu.be/e3yN1yZY124">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/421/#team_details" class="fn url">Dmitri Boulanov and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/412/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/banyan.png" alt="">
                </div>
                Banyan
            </h3>
        </a>
        <p>Version control &amp; collaboration for scientists.</p>
        <a class="cta do" href="http://youtu.be/D8r4bmQ36qQ">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/412/#team_details" class="fn url">Toni Gemayel and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/408/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/project-default.png" alt="">
                </div>
                Hyperaudio Pad
            </h3>
        </a>
        <p>Learn, edit &amp; remix media through simple text interface to audio/video.</p>
        <a class="cta do" href="http://youtu.be/pRlWMA_Af1U">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/408/#team_details" class="fn url">Mark Boas and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/409/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/wecounsil.jpg" alt="">
                </div>
                WeCounsel
            </h3>
        </a>
        <p>Counseling &amp; therapy at a distance using high quality videoconferencing.</p>
        <a class="cta do" href="http://youtu.be/5c_C9YR3p6o">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/409/#team_details" class="fn url">Harrison Tainer and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/420/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/public-transit.png" alt="">
                </div>
                Optimizing Public Transit
            </h3>
        </a>
        <p>Optimize public transit planning through real-time data analysis.</p>
        <a class="cta do" href="http://youtu.be/gSI6j0DuGjQ">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/420/#team_details" class="fn url">Noah Sidman-Gale and Cameron Saul</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/443/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/saas.jpg" alt="">
                </div>
                Simulation-as-a-Service for Advanced Manufacturing
            </h3>
        </a>
        <p>Remotely access software and compute resources using a virtual desktop-as-a-service system for advanced manufacturing.</p>
        <a class="cta do" href="http://youtu.be/ZM08KYhBSKM">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/443/#team_details" class="fn url">Prasad Calyam and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/415/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/cloudManufacture.jpg" alt="">
                </div>
                Cyber Physical Collaboration for Advanced Manufacturing
            </h3>
        </a>
        <p>Students &amp; engineers can use haptic feedback &amp; virtual manufacturing environments to learn &amp; collaborate.</p>
        <a class="cta do" href="http://youtu.be/-jBMBODyWfk">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/415/#team_details" class="fn url">Joe Cecil and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/479/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/peerCDN.jpg" alt="">
                </div>
                PeerCDN
            </h3>
        </a>
        <p>Experience a better web with peer-based Content Delivery Networks.</p>
        <a class="cta do" href="http://youtu.be/cWhR5NHFNt4">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/479/#team_details" class="fn url">Feross Aboukhadijeh and Abi Raja</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/466/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/easy3D.jpg" alt="">
                </div>
                Easy 3D
            </h3>
        </a>
        <p>Flickr for 3D.</p>
        <a class="cta do" href="http://youtu.be/CpFSmC2rjMc">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/466/#team_details" class="fn url">Chris Slaughter and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/460/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/software-lending.jpg" alt="">
                </div>
                Software Lending Library
            </h3>
        </a>
        <p>Check out software from the library using ultrafast low latency networks.</p>
        <a class="cta do" href="http://youtu.be/n1gCizBeJq8">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/460/#team_details" class="fn url">David LaCrone and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/469/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/planIT.jpg" alt="">
                </div>
                PlanIT Impact
            </h3>
        </a>
        <p>Understand &amp; participate in decisions in your community with data visualization &amp; 3D tools..</p>
        <a class="cta do" href="http://youtu.be/-MLNEwqyhIc">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/469/#team_details" class="fn url">Dominique Davison and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/457/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/briefcase-health.png" alt="">
                </div>
                Brief+Case Health
            </h3>
        </a>
        <p>Students, parents &amp; medical specialists can come together at the school with multi-party telemedicine.</p>
        <a class="cta do" href="http://youtu.be/NL4aEAesF8Y">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/457/#team_details" class="fn url">Morgan Waller and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/462/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/project-default.png" alt="">
                </div>
                Luminosity
            </h3>
        </a>
        <p>Scientists &amp; citizens can collaborate on large data through web-based tools.</p>
        <a class="cta do" href="http://youtu.be/hgMj3_ZT9J0">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/462/#team_details" class="fn url">Amit Kapadia and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/484/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/cizzle.jpg" alt="">
                </div>
                Cizzle 
            </h3>
        </a>
        <p>Collaborate &amp; learn in immersive 3D environments that users can update simultaneously.</p>
        <a class="cta do" href="http://youtu.be/kHihDUGQYzQ">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/484/#team_details" class="fn url">Ole Lütjens and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/405/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/project-default.png" alt="">
                </div>
                The Rashomon Project: “Multi-Perspective Chronology”
            </h3>
        </a>
        <p>Tell the story of an event from audio &amp; video simultaneously captured from many users.</p>
        <a class="cta do" href="http://youtu.be/rAMT9Nxaxv8">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/405/#team_details" class="fn url">Ken Goldberg and team</a></p>
        </address>
    </article>
</li>
<li class="box col">
    <article>
        <a class="title" href="https://mozillaignite.org/apps/410/">
            <h3 class="title wimper">
                <div class="frame box">
                    <img src="/media/ignite/img/winners/floodcube.jpg" alt="">
                </div>
                FloodCube: National Flood Information Platform
            </h3>
        </a>
        <p>Predict floods more precisely with real-time analysis of flood sensors and tailor alerts for individuals in their watershed.</p>
        <a class="cta do" href="http://youtu.be/tFi4-YCGcBg">Watch their final pitch</a>
        <address>
            <p>Created by <a href="https://mozillaignite.org/apps/410/#team_details" class="fn url">Ibrahim Demir and team</a></p>
        </address>
    </article>
</li>