{% extends "base.html" %}
{% from "challenges/helpers.html" import created_by with context %}

{% block page_id %}splash{% endblock %}

{% block section_class %}content{% endblock %}

{% block site_title %}<h1 class="brand"><img src="{{ MEDIA_URL }}img/logo.png" alt="Mozilla Ignite" width="136" height="66" /></h1>{% endblock %}

{% block header %}
<div class="tagline">
    <h2 class="busta">
        <span class="wimper sweet"><em>Calling all</em> developers, network engineers and community catalysts...</span>
        <strong><img src="{{ MEDIA_URL }}img/build.png" alt="Build apps from the future" width="940" height="182" /></strong>
    </h2>
</div>
<div class="ignite_info">
    <div class="busta">
        <p class="box intro"><strong>Design and build apps for the faster, smarter internet of the future</strong>. Mozilla and the National Science Foundation invite you to take part in an open innovation challenge. The goal: show how next-generation networks can revolutionize healthcare, education, public safety, energy and more.</p>
       <div class="gather wimper">
         {% if ideation.is_open %}
         <a href="{{ url('create_entry', phase='ideas') }}" class="cta">get started</a><br /> or <a href="{{ url('about_ignite') }}">learn more</a>
         {% endif %}
         {% if request.ideation.is_closed and not request.development.days_until == -1  %}
            <a href="{{ url('entries_all', phase='ideas') }}" class="cta">see submissions</a><br />
            Idea phase closed August 23. Development phase opens {{ development.start_date.strftime('%B %-d') }}.
        {% endif %}
        {% if development.is_open %}
            <a href="{{ url('create_entry', phase='apps') }}" class="cta">Apply now</a><br />
                Apply by {{ request.development.current_round.end_date.strftime('%B %-d') }} to compete in this round
        {% else %}
            {% if development.has_started %}
                We're currently judging the last round. The next round opens {{ request.development.next_round.start_date.strftime('%B %-d') }} so be ready to compete
            {% endif %}
        {% endif %}
       </div>
    </div>
</div>

<div class="methods">
	<div class="busta columns">
        <ul>
            <li class="col brainstorm box">
                <h3 class="exclaim">Explore</h3>
                <p class="intro">Browse through the ideas submitted in the <a href="{{ url('entries_all', phase='ideas') }}">brainstorm phase</a>, and see the <a href="https://blog.mozillaignite.org/2012/09/ideation-winners/">winning submissions</a>.</p>
                {% if request.ideation.is_open %}
                    <a class="col-foot" href="{{ url('create_entry', phase='ideas') }}">Submit your ideas</a>
                {% else %}
                    <a class="col-foot" href="{{ url('entries_all', phase='ideas') }}">See what ideas people came up with</a>
                {% endif %}
            </li>
            <li class="col hack box">
                <h3 class="exclaim">Collaborate</h3>
                <p class="intro">Meet like-minded collaborators at code sprints, design jams and webinars. Gain access to one of the fastest networks on the planet.</p>
                {% if waffle.switch('show_events') %}
                <a class="col-foot" href="#upcoming_events">Register for an upcoming event</a>
                {% else %}
                <p class="col-foot">Ignite events being announced soon</p>
                {% endif %}
            </li>
            <li class="col compete box">
                <h3 class="exclaim">Build</h3>
                <p class="intro">Submit code prototypes to earn funding and support. <strong>$485,000 in prizes</strong> available over three rounds.</p>
                {% if request.development.is_open %}
                    <a class="col-foot" href="{{ url('create_entry', phase='apps') }}">Submit your application</a>
                {% else %}
                    <a class="col-foot" href="{{ url('about_ignite')}}">Applications open {{ request.development.next_round.start_date.strftime('%B %-d') }}</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="focus_areas columns">
    <h2 class="point">Design and build apps that address needs in:</h2>
    <ul>
    {% for cat in categories %}
    <li class="box col {{ cat.slug }}">
      {% if request.development.has_started %}
      <a href="{{ url('entries_for_category', category=cat.slug, phase='apps') }}"><strong>{{ cat.name }}</strong></a>
      {% else %}
      <a href="{{ url('entries_for_category', category=cat.slug, phase='ideas') }}"><strong>{{ cat.name }}</strong></a>
      {% endif %}
    </li>
    {% endfor %}
    </ul>
</section>
{% if ideation.is_open %}
<h2 class="faux_trigger box">Now through August 23rd: let's brainstorm. <strong>$15,000</strong> in prizes.</h2>
{% endif %}
{% if development.is_open %}
<h2 class="faux_trigger box">Let the hacking begin! <strong>Apply now</strong> to join the Development Challenge.</h2>
{% endif %}
<div class="columns project_data content_columns">
    <div class="dynamic main col box">
        {% if development.has_started %}
            <p class="intro"><strong>What would you do with an Internet without limits?</strong> How can next-generation apps change the world? Enter into the Mozilla Ignite apps challenge and show us your best ideas in running code. You can take a slice of $485,000 over three rounds of development. <a href="{{ url('about_ignite') }}">Learn more</a></p>
        {% else %}
            <p class="intro"><strong>What would you do with an Internet without limits?</strong> How can next-generation apps change the world? Share your ideas. You don't need to be a developer or technologist to participate -- at this stage we're just seeking good ideas. All are welcome!</p>
        {% endif %}
    </div>

    <div class="bonus col box">
        <div class="highlight">
            {% if request.ideation.is_open %}
                    <h2 class="point box-title">What's your big idea?</h2>
            <a class="cta" href="{{ url('create_entry', phase='ideas') }}">Get started</a>
                {% endif %}
                {% if request.ideation.is_closed and not request.development.days_until == -1  %}
                    <p class="intro">Ideation is being judged and closed for new submissions; but the development phase will open in {{ request.development.days_until }} days</p>
                {% endif %}
                {% if request.development.is_open %}
                    <h2 class="point box-title">What's your app?</h2>
                    <a class="cta" href="{{ url('create_entry', phase='apps') }}">Get started</a>
                {% endif %}
        </div>
    </div>
</div>
{% if request.development.is_open and entries_from == 'ideas' %}
<p class="intro">Get inspired! Browse ideas from Brainstorming:</p>
{% endif %}
<ul class="submissions columns">
    {% for entry in entries %}
    <li class="box col">
        <article>
            <a class="title" href="{{ entry.get_absolute_url() }}">
                <h3 class="title wimper">
                    <div class="frame box">
                        <img src="{{ entry.get_image_src() }}" alt="">
                    </div>
                    {{ entry.title }}
                </h3>
            </a>
            <p>{{ entry.brief_description }}</p>
            <address>{{ created_by(entry, footer=False) }}</address>
        </article>
    </li>
    {% endfor %}
</ul>
<footer>    
    {% if development.has_started %}
    <p class="intro">Discover other applications <a href="{{ url('entries_all', phase='apps') }}" class="cta do">See all applications</a></p>
    {% else %}
        <p class="intro">Discover great ideas <a href="{{ url('entries_all', phase='ideas') }}" class="cta do">See all submissions</a></p>
    {% endif %}
</footer>
{% if waffle.switch('show_blog') and waffle.switch('show_events') %}
<h2 class="faux_trigger box">Latest news and events</h2>
<div class="columns content_columns">
    <div class="col box main">
        <section class="blogs">
            <ol class="hfeed columns">
                {% for blog in blogs %}
                <li class="col box">
                    <article class="hentry">
                        <h2 class="wimper entry-title"><a href="{{ blog.link }}">{{ blog.title }}</a></h2>
                        <footer>
                            <span class="updated"><span class="value-title" title="{{ blog.updated.strftime('%Y-%m-%dT%H:%M:%SZ') }}"></span>{{ blog.updated.strftime('%B %d, %Y') }}</span> by <address class="author hcard"><span class="fn">{{ blog.autor }}</span></address>
                        </footer>
                        <p class="entry-summary">{{ blog.summary|replace("Continue reading →", "") }}</p>
                        <a href="{{ blog.link }}" rel="bookmark">Read more <span>on {{ blog.title }}</span></a>
                    </article>
                </li>
                {% endfor %}
            </ol>
            <footer>
                <p class="intro">Stay up to date <a href="https://blog.mozillaignite.org/" class="cta do">View all posts</a>
            </footer>
        </section>
    </div>
    <div class="bonus col box">
        <div class="events" id="upcoming_events">
            <h2 class="wimper">Upcoming Events</h2>
            <ol>
              {% for event in event_list %}
              <li>
                <h3 class="wimper">{{ event.name }}</h3>
                <p class="date">{{ event.start.strftime('%b') }} <span>{{ event.start.day }}</span></p>
                <p>{{ event.venue.name }} - <a href="{{ event.url }}">register</a></p>
              </li>
              {% endfor%}
            </ol>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
