{% extends "second_base.html" %}
{% from "challenges/helpers.html" import created_by with context %}

{% block page_id %}splash{% endblock %}

{% block section_class %}content{% endblock %}

{% block site_title %}<h1 class="brand"><img src="{{ MEDIA_URL }}ignite/img/logo.png" alt="Mozilla Ignite" width="200" height="35" /></h1>{% endblock %}

{% block header %}
<div class="tagline">
    <h2 class="busta">
        <span class="wimper sweet"><em>Calling all</em> developers, designers and civic innovators...</span>
        <strong><img src="{{ MEDIA_URL }}ignite/img/build.png" alt="Build apps from the future" width="940" height="182" /></strong>
    </h2>
</div>
<div class="ignite_info">
    <div class="busta">
        <p class="box intro">Design and build apps for the faster, smarter internet of the future. Mozilla and the National Science Foundation offer $500k in funding, and invite you to kickstart innovation in healthcare, education and other national priority areas using gigabit networks and technologies.</p>
       <div class="gather wimper">
            <a href="{{ url('create_entry') }}" class="cta">get started</a><br /> or <a href="{{ url('about_ignite') }}">learn more</a>
       </div>
    </div>
</div>
<div class="methods">
    <div class="busta columns">
        <ul>
            <li class="col brainstorm box">
                <h3 class="exclaim">Brainstorm</h3>
                <p class="intro">What would you do with 1 Gigabit per second? What apps would you create for deeply programmable networks up to 250 times faster than today?</p>
                <a class="col-foot" href="{{ url('create_entry') }}">Submit your idea</a>
            </li>
            <li class="col hack box">
                <h3 class="exclaim">Hack</h3>
                <p class="intro">Meet like-minded collaborators at code sprints, design james and webinars. Gain access to one of the fastest networks on the planet.</p>
                <a class="col-foot" href="#">Register for an upcoming event</a>
            </li>
            <li class="col compete box">
                <h3 class="exclaim">Compete</h3>
                <p class="intro">Win funding and support to make your app a reality. $500,000 availiable to be won.</p>
                <p class="col-foot">Applications open May 23rd</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="focus_areas columns">
    <h2 class="point">Build Apps that revolutionize there priority areas</h2>
    <ul>
        <li class="box col education">
            <a href="{{ url('about_ignite') }}#education"><strong>Education</strong></a>
        </li>    
        <li class="box col health-it">
            <a href="{{ url('about_ignite') }}#health-it"><strong>Health IT</strong></a>
        </li>
        <li class="box col clean-energy">
            <a href="{{ url('about_ignite') }}#clean-energy"><strong>Clean Energy</strong></a>
        </li>
        <li class="box col advanced-manufacturing">
            <a href="{{ url('about_ignite') }}#advanced-manufacturing"><strong>Advanced Manufacturing</strong></a>
        </li>
        <li class="box col public-safety">
            <a href="{{ url('about_ignite') }}#public-safety"><strong>Public Safety</strong></a>
        </li>
    </ul>
</section>
<h2 class="point">Now to May 23rd: Let's Brainstorm</h2>
<div class="columns project_data content_columns">
    <div class="dynamic main col box">
        <p class="intro">How can next-generation apps change the world? How could 1 Gbps networks solve real-world problems and make people's live better? Submit your rough ideas and brainstorm with innovators now. You don't need to be a developer or major brainiac to participate - at this stage we're just seeking written ideas. All are welcome!</p>
    </div>
    <div class="bonus col box">
        <div class="highlight">
            <h2 class="point box-title">What's your big idea?</h2>
            <a class="cta" href="{{ url('create_entry') }}">Get started</a>
        </div>
    </div>
</div>
<ul class="submissions columns">
    {% for entry in entries %}
    <li class="box col">
        <article>
            <a class="title" href="{{ entry.get_absolute_url() }}">
                <h3 class="title wimper">
                    <div class="frame box">
                        <img src="http://src.sencha.io/200/{{ app_url }}{{ entry.get_image_src() }}" alt="">
                    </div>
                    {{ entry.title }}
                </h3>
            </a>
            <p>{{ entry.brief_description }}</p>
            <address>{{ created_by(entry, footer=False) }}</address>
        </article>
    </li>
    {% endfor %}
</ul>
<footer>
    <p class="intro">Discover great ideas <a href="{{ url('entries_all') }}" class="cta do">See all submissions</a></p>
</footer>
<h2>Latest news and events</h2>
<div class="columns content_columns">
    <div class="col box main">
        <section class="blogs">
            <ol class="hfeed columns">
                {% for blog in blogs %}
                <li class="col box">
                    <article class="hentry">
                        <h2 class="wimper entry-title">{{ blog.title }}</h2>
                        <footer>
                            <span class="updated"><span class="value-title" title="{{ blog.updated.strftime('%Y-%m-%dT%H:%M:%SZ') }}"></span>{{ blog.updated.strftime('%B %d, %Y') }}</span> by <address class="author hcard"><span class="fn">{{ blog.autor }}</span></address>
                        </footer>
                        <p class="entry-summary">{{ blog.summary|replace("Continue reading →", "") }}</p>
                        <a href="{{ blog.link }}" rel="bookmark">Read more <span>on {{ blog.title }}</span></a>
                    </article>
                </li>
                {% endfor %}
            </ol>
            <footer>
                <p class="intro">Stay up to date <a href="/blog/" class="cta do">View all posts</a>
            </footer>
        </section>
    </div>
    <div class="bonus col box">
        <div class="events">
            <h2 class="wimper">Upcoming Events</h2>
            <ol>
                <li>
                    <h3 class="wimper">Gigabit Apps Hackfest</h3>
                    <p class="date">March <span>15</span></p>
                    <p>Los Angeles - <a href="#">register</a></p>
                </li>
                <li>
                    <h3 class="wimper">Webcast: History of Geni</h3>
                    <p class="date">March <span>25</span></p>
                    <p>Los Angeles - <a href="#">register</a></p>
                </li>
                <li>
                    <h3 class="wimper">Webcast: Mozilla Ignite Q/A</h3>
                    <p class="date">April <span>25</span></p>
                    <p>Los Angeles - <a href="#">register</a></p>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}
