{% extends "second_base.html" %}
{% from "challenges/helpers.html" import created_by with context %}

{% block page_id %}splash{% endblock %}

{% block section_class %}content{% endblock %}

{% block site_title %}<h1 class="brand"><img src="{{ MEDIA_URL }}ignite/img/logo.png" alt="Mozilla Ignite" width="200" height="35" /></h1>{% endblock %}

{% block header %}
<div class="tagline">
    <h2 class="busta">
        <span class="sweet"><em>Calling all</em> Developers and Civic Innovators</span>
        <strong><img src="{{ MEDIA_URL }}ignite/img/build.png" alt="Build the future" /></strong>
    </h2>
</div>
<div class="ignite_info">
    <div class="busta">
        <p class="box">Mozilla and the National Science Foundation offer $500 in funding, and invite you to kickstart innovation in healthcare, education, and other national priority areas using gigabit networks and technologies.</p>
       <div class="gather">
            <a href="{{ url('create_entry') }}" class="cta">get started</a><br /> or <a href="#">learn more</a>
       </div>
    </div>
</div>
<div class="methods">
    <div class="busta columns">
    <ul>
    <li class="col brainstorm box">
    <h3>Brainstorm</h3>
    <p>Joing a brainstorm with the Mozilla community; what do tomorrow's apps look like?</p>
    </li>
    <li class="col hack box">
    <h3>Hack</h3>
    <p>Attend a series of code sprints, design jams and webcats to meet like-minded collaborators.</p>
    </li>
    <li class="col compete box">
    <h3>Compete for funding</h3>
    <p>Compete for funding from $500k prize pool and quickly build your app.</p>
    </li>
    </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="focus_areas columns">
    <h2>Focus Areas</h2>
    <ul>
    <li class="box col manu">advanced manufacturing</li>
    <li class="box col emer">emergency preparedness and public safety</li>
    <li class="box col health">health information technologies</li>
    <li class="box col edu">education and workforce technologies</li>
    <li class="box col energy">clean energy, including advanced vechile technologies</li>
    </ul>
</div>
<h3 class="box_title">Submissions</h3>
<nav class="tags">
    <ul>
        <li><a class="current" href="{{ url('entries_all') }}">all</a></li>
        {% if categories %}
        {% for cat in categories %}
            <li><a href="{{ url('entries_for_category', category=cat.slug ) }}">{{ cat.name }}</a></li>
        {% endfor %}
        {% endif %}
    </ul>
</nav>
<ol class="submissions columns">
{% for entry in entries %}
    <li class="box col">
        <article>
            <a href="{{ entry.get_absolute_url() }}">
                <h4>
                    <div class="frame box">
                    <img src="{{ entry.get_image_src() }}" alt="">
                    </div>
                    {{ entry.title }}
                </h4>
            </a>
            <p>{{ entry.brief_description }}</p>
            <address>{{ created_by(entry, footer=False) }}</address>
            </article>
        </li>
    {% endfor %}
    </ol>
    <footer>
        <a href="{{ url('entries_all') }}">See all submissions</a>
    </footer>
    </div>
    </div>
</section>       
<section class="busta blogs">
    <h2 class="announce">Updates from the blog</h2>
    <ol class="hfeed columns">
    {% for i in range(3) %}
        <li class="col box">
        <article class="hentry">
            <h3 class="entry-title">Headline of post</h3>
            <footer>
            <span class="updated"><span class="value-title" title="ISO-formatted time"></span>16th November 2011</span> by <address class="author hcard"><span class="fn">Briney McGinty</span></address></p>
            </footer>
            <p class="entry-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean sit amet arcu orci. Maecenas scelerisque consequat
                vehicula. Sed fringilla feugiat nulla. Vestibulum ante ipsum
                primis in faucibus orci luctus et ultrices posuere cubilia
                Curae; Maecenas eros risus, dictum quis dapibus nec,
                ullamcorper in orci.</p>
                <a href="#" rel="bookmark">Read more <span>on Headline of post</span></a>
        </article>
        </li>
    {% endfor %}
    </ol>
    <footer>
        <a href="/blog/">Read all our news in the Ignite Blog</a>
    </footer>
</section>
{% endblock %}
