{% extends 'base.html' %}
{% from 'layout/breadcrumbs.html' import breadcrumbs %}
{% from 'layout/helpers.html' import sectiontitle, participation_nav with context %}

{% block page_title %}
    {{ _('Entries | {part} | Mozilla Labs')|f(part=p11n.title) }}
{% endblock %}

{% block page_id %}all_entries{% endblock %}
{% block section_class %}projects{% endblock %}

{% block breadcrumbs %}
{{ breadcrumbs(
    (url('innovate_splash'), _('Mozilla Labs Home')),
    (url('projects_programs'), _('Programs')),
    (url('projects_show', slug=project.slug), project.name),
    (url('participation_show', project=project.slug, slug=p11n.slug), p11n.title),
    last=_('Entries')) }} 
{% endblock %}

{% block content %}
{{ sectiontitle(_('All Entries to {part}')|f(part=p11n.title)) }}
{{ participation_nav(p11n.get_image_src(), p11n.summary, p11n.start_date, p11n.end_date) }}
<section class="c4 clearfix">
    <div class="row clearfix">
    {% if entries %}
    <ul class="db_objects entries">
    {% for e in entries %}
    <li class="obj">
        <article>
            <h2 class="light sans">{{ e.title }}</h2>
            <p>{{ e.brief_description }}</p>
            <p><a href="{{ url('entry_show', project=project.slug, slug=p11n.slug, entry_id=e.id) }}">Read the full entry</a></p>
            <footer>
                <p>Entry from:</p>
                <ul class="db_related clearfix">
                {% for person in e.created_by.all() -%}
                <li>
                    <a href="{{ url('users_profile', username=person.user.username) }}">
                        <img src="{{ person.avatar_url(32) }}" width="32" height="32">
                    </a>
                </li>
                {% endfor -%}
                </ul>
            </footer>
        </article>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    </div>
</section>
{% endblock %}
