{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}
{% from "layout/helpers.html" import sectiontitle %}

{% block page_title %}
    {{ _('Create entry on {part} : Participation : Mozilla Labs')|f(part=p11n.title) }}
{% endblock %}

{% block page_id %}p11n_create{% endblock %}
{% block section_class %}projects{% endblock %}

{% block breadcrumbs %}
{{ breadcrumbs(
    (url('innovate_splash'), _('Mozilla Labs Home')),
    (url('projects_programs'), _('Programs')),
    (url('projects_show', slug=project.slug), project.name),
    (url('participation_show', project=project.slug,  slug=p11n.slug), p11n.title),
    last=_('Create entry')) }}
{% endblock %}

{% block content %}
{{ sectiontitle(_('Create entry on {part}')|f(part=p11n.title)) }}
<section id="profile_edit" class="w6 clearfix">
    <div class="paper c3">
        <form action="{{ url('participation_create', project=project.slug, slug=p11n.slug) }}" method="post">
            {{ csrf()|safe }}
            <ul class="db_objects">
                <li>
                <label for="id_title">{{ _('Title') }}</label>
                {{ form.title }}
                </li>
                <li>
                <label for="id_brief_description">{{ _('Summary') }}</label>
                <span class="hint">{{ _('Think of this as an elevator pitch. Keep it short and sweet - under 200 characters') }}</span>
                {{ form.brief_description }}
                </li>
                <li>
                <label for="id_description">{{ _('Description') }}</label>
                {{ form.description }}
                </li>
                <li>
                <label for="id_created_by">{{ _('Created by') }}</label>
                <span class="hint">{{ _('Hold down "Control", or "Command" on a Mac, to select more than one. And don\'t forget to add yourself!') }}</span>
                {{ form.created_by }}
                </li>
            </ul>
            <button class="submit sans" type="submit">{{ _('Create entry') }}</button>
        </form>
    </div>
</section>
{% endblock %}
