{% extends "second_base.html" %}
{% from "challenges/helpers.html" import created_by with context %}

{% block page_title %}{% if category %}{{ _('All submissions in {cat}')|f(cat = category) }} | {% else %}{{ _('All submissions') }} | {% endif %}{% endblock %}

{% block page_id %}all_submissions{% endblock %}

{% block section_class %}lists{% endblock %}

{% block header %}
<header class="busta">
<h1 class="shout">Ideas</h1>
<div class="meta">
    <p class="intro">You have <em>{{ days_remaining }}</em> days to submit ideas</p>
    <a class="cta" href="{{ url('create_entry') }}">{{ _('Create submission') }}</a>
</div>
</header>
{% endblock %}

{% block content %}
<div class="content_columns columns with_nav">
<nav class="tags col box nav">
    <ul>
        <li><a{% if not category %} class="current"{% endif %} href="{{ url('entries_all') }}">All ideas</a></li>
        {% if categories %}
        {% for cat in categories %}
            <li><a{% if category.slug==cat.slug %} class="current"{% endif %} href="{{ url('entries_for_category', category=cat.slug) }}">{{ cat.name }}</a></li>
        {% endfor %}
        {% endif %}
    </ul>
</nav>
<div class="highlight col box main">
{% if category %}
<h2 class="{{category.slug }}">{{ category.name }}</h2>
<p class="intro">Category descriptions should go in here, once we have added them to the app</p>
{% endif %}
<ol class="submissions columns">
{% for entry in entries.object_list %}
    <li class="box col">
        <article>
            <a href="{{ entry.get_absolute_url() }}">
                <h4>
                    <div class="frame box">
                    <img src="{{ entry.get_image_src() }}" alt="">
                    </div>
                    {{ entry.title }}
                </h4>
            </a>
            {% if entry.editable_by(user) %}
            {% if entry.is_draft %}
            <div class="alerts inline">
                <p><strong>Idea in draft</strong></p>
                <p>Only you can see this until you uncheck the "Save as draft?" option.</p>
                <a href="{{ entry.get_edit_url() }}" class="cta do">Edit your idea</a>
            </div>
            {% endif %}
            {% endif %}
            <p>{{ entry.brief_description }}</p>
            <address>{{ created_by(entry, footer=False) }}</address>
        </article>
    </li>
    {% endfor %}
    </ol>
    {% if entries.paginator.num_pages > 1 %}
    <footer class="pagination">
    <nav>
    {% if entries.has_previous() %}
        <a href="?page={{ entries.previous_page_number() }}" class="btn">prev</a>
    {% endif %} 
    <ol>
    {% for i in range(entries.paginator.num_pages) %}
    <li>
        {% if i + 1 == entries.number %}
            <span>{{ i + 1 }}</span>
        {% else %}
            <a href="?page={{ i + 1 }}">{{ i + 1 }}</a>
        {% endif %}
    </li>
    {% endfor %}
    </ol>
    {% if entries.has_next() %}
        <a href="?page={{ entries.next_page_number() }}" class="btn">next</a>
    {% endif %}
    </nav>
    </footer>
    {% endif %}
    </div>
    </div>
    </div>
    </div>
</section>       
{% endblock %}
