{% extends "base.html" %}
{% from "challenges/helpers.html" import created_by with context %}

{% block page_title %}{{ _('All submissions assigned to you') }} |{% endblock %}

{% block page_id %}assigned_submissions{% endblock %}

{% block section_class %}entries{% endblock %}

{% block header %}
<h1 class="shout">Submissions assigned to you</h1>
{% endblock %}

{# No need to display the judge call on this page #}
{% block judgecall %}{% endblock %}

{% block content %}
<ol class="submissions columns">
{% for entry in entries %}
    <li class="box col">
        <article>
            <a href="{{ entry.get_absolute_url() }}">
                <h4>
                    <div class="frame box">
                    <img src="{{ entry.get_image_src() }}" alt="">
                    </div>
                    {{ entry.title }}
                </h4>
            </a>
            <p>{{ entry.brief_description }}</p>
            <address>{{ created_by(entry, footer=False) }}</address>
            </article>
        </li>
    {% endfor %}
    </ol>
    {% if is_paginated %}
    <footer class="pagination">
    <nav>
    {% if paginator.has_previous() %}
        <a href="?page={{ entries.previous_page_number() }}" class="btn">prev</a>
    {% endif %} 
    <ol>
    {% for i in range(paginator.num_pages) %}
    <li>
        {% if i + 1 == paginator.number %}
            <span>{{ i + 1 }}</span>
        {% else %}
            <a href="?page={{ i + 1 }}">{{ i + 1 }}</a>
        {% endif %}
    </li>
    {% endfor %}
    </ol>
    {% if paginator.has_next() %}
        <a href="?page={{ paginator.next_page_number() }}" class="btn">next</a>
    {% endif %}
    </nav>
    </footer>
    {% endif %}
    </div>
    </div>
</section>       
{% endblock %}
