{% extends "second_base.html" %}
{% from "challenges/helpers.html" import created_by with context %}

{% block page_title %}{{ _('All submissions assigned to you') }} |{% endblock %}

{% block page_id %}assigned_submissions{% endblock %}

{% block section_class %}entries{% endblock %}

{# No need to display the judge call on this page #}
{% block judgecall %}{% endblock %}

{% block content %}
<h1 class="shout">Submissions assigned to you</h1>
{% for group in entries|groupby('has_judged') %}
    {% if group.grouper %}
    <h2>{% trans %}Judged by you{% endtrans %}</h2>
    <p>
        {% trans count=group.list|length %}
        You have successfully evaluated {{ count }} submission.
        {% pluralize %}
        You have successfully evaluated {{ count }} submissions.
        {% endtrans %}
    </p>
    {% else %}
    <h2>{% trans %}To be Judged{% endtrans %}</h2>
    <p>
        {% trans count=group.list|length %}
        You have {{ count }} submission awaiting evaluation.
        {% pluralize %}
        You have {{ count }} submissions awaiting evaluation.
        {% endtrans %}
    </p>
    {% endif %}
    <ul class="submissions">
        {% for entry in group.list %}
        <li>
            <a href="{{ entry.get_absolute_url() }}">
                {{ entry.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endfor %}

{% if allowance %}
    <section>
      <h2>Green-lit entries for {{ allowance.award.phase.name }} phase {% if allowance.award.phase_round %}. Round {{ allowance.phase_round }}{% endif %}</h2>
      <p>These entries have been green-lit for this phase. Feel free to distribute the and realocate your funding. Entries won't be notified until the admins Freeze the Award.</p>
      <ul>
        <li>Total Funds: ${{ allowance.amount }}</li>
        <li>Allocated Funds: ${{ allowance.amount_used }}</li>
        <li>Free Funds: ${{ allowance.amount_free }}</li>
      </ul>

      <ul>
        {% for object in greenlit_list %}
        <li><a href="{{ object.get_absolute_url() }}">{{ object }}</a></li>
        {% endfor%}
      </ul>
      <h2>Allocated Funding submisssions</h2>
      {% for object in awarded_list %}
      <li><a href="{{ object.submission.get_absolute_url() }}">{{ object.submission }}</a>, awarded ${{ object.amount }}</li>
        {% endfor%}
    </section>
    {% endif %}
{% endblock %}
