{% extends 'base.html' %}

{% block page_title %}Create submission | {% endblock %}

{% block page_id %}create_submission{% endblock %}

{% block section_class %}entries{% endblock %}

{% block content %}
<h1>Create a submission</h1>
        
<form action="{{ url('create_entry') }}" method="post" enctype="multipart/form-data">
    {{ csrf()|safe }}
    <ul>
        {{ form.as_ul() }}
    </ul>
     <button class="submit sans" type="submit">{{ _('Create entry') }}</button>
</form>
{% endblock %}
