{% extends "challenges/create_development.html" %}

{% block page_title %}{% if errors %}{{ _('Errors in your idea') }} | {% endif %}{{ _('Edit') }} | {{ form.title.value() }} | {% endblock %}

{% block page_id %}edit_submission{% endblock %}

{% block page_heading %}{{ _('Edit your application') }}{% endblock %}

{% block greeting %}
<h1 class="shout">{{ _('Edit your application') }}</h1>
{% endblock %}

{% block submit %}
<input class="cta" type="submit" value="{{ _('Save changes') }}" />
{% endblock %}
