{% macro created_by(submission, footer=True) %}
{% if footer %}
<footer>
{% endif %}
    {% if submission.created_by.user == user %}
    <p>{{ _('Created by you') }}</p>
    {% else %}
        {% if submission.created_by.name %}
        <p>{{ _('Created by') }} <a href="{{ url('users_profile', username=submission.created_by.user.username) }}" class="fn url">{{ submission.created_by.name }}</a></p>
        {% else %}
        <p>{{ _('Created by an unnamed user') }}</p>
        {% endif %}
    {% endif %}
{% if footer %}
</footer>
{% endif %}
{% endmacro %}
