{% extends "base.html" %}

{% block schema_org %} itemscope itemtype="http://schema.org/Product"{% endblock %}

{% block page_title %}{{ entry.title }} | {{ _('Submissions') }} | {% endblock %}

{% block page_id %}show_submission{% endblock %}

{% block section_class %}entries{% endblock %}

{% block social_meta %}
<!-- google+/schema.org -->
<meta itemprop="name" content="{{ entry.title }} | {{ _('Submissions') }} | {{ app_name }}" />
<meta itemprop="description" content="{{ entry.brief_description }}" />
<meta itemprop="image" content="http://www.mozillaignite.org{{ entry.get_image_src() }}" />
<!-- facebook -->
<meta property="og:title" content="{{ entry.title }} | {{ _('Submissions') }} | {{ app_name }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.mozillaignite.org{{ entry.get_absolute_url() }}" />
<meta property="og:image" content="http://www.mozillaignite.org{{ entry.get_image_src() }}" />
<meta property="og:site_name" content="Mozilla Ignite" />
<meta property="fb:admins" content="100003097810098" />
{% endblock %}

{% block header %}
<a href="#" class="back announce">See all submissions</a>
<p class="announce">What apps would you make, if you could make anything?</p>
<a href="{{ url('create_entry') }}" class="cta">Create submission</a>
<p class="announce break"> You have {{ entry.phase.days_remaining().days }} days remaining to submit your idea</p>  
{% endblock %}

{% block content %}
    <article>
        <h1 class="shout">{{ entry.title }}</h1> 
        {% if entry.editable_by(user) %}
        <ul class="user_tools">
        {% if entry.owned_by(user) %}
            <li><a href="{{ entry.get_edit_url() }}" class="cta do">Edit your submission</a></li>
            <li><a href="{{ entry.get_delete_url() }}" class="cta do">Delete your submission</a></li>
        {% else %}
            <li><a href="{{ entry.get_edit_url() }}" class="cta do">Edit this submission</a></li>
            <li><a href="{{ entry.get_delete_url() }}" class="cta do">Delete this submission</a></li>
        {% endif %}
        </ul>
        {% endif %}
        <div class="columns">
        <div class="col box">
            <div class="widgets">
                <p>Submitted on {{ entry.created_on.strftime('%B %d, %Y') }}</p>
                <ul class="popularity">
                    <li class="comment"><a href="http://www.mozillaignite.org{{ entry.get_absolute_url() }}#disqus_thread" data-disqus-identifier="{{ entry.get_absolute_url() }}">View comments</a></li>
                    <li>Votes: <span class="total_votes">{{ votes }}</span></li>
                </ul>
            </div>
            {% if entry.sketh_note %}
            <div class="frame box sketh">
                <img src="{{ MEDIA_URL }}/{{ entry.sketh_note }}" alt="" />
            </div>
            {% endif %}
            <div class="description">
            {{ entry.description_html }}
            </div>
            <address class="vcard">
                <p><a class="fn url" href="{{ url('users_profile', username=entry.created_by.user.username) }}">{{ entry.created_by.name }}</a></p>
                <p>{{ entry.created_by.bio }}</p>
                <div class="frame box">
                    <img class="photo" src="{{ entry.created_by.get_gravatar_url(80) }}" width="80" height="80" alt="" />
                </div>
            </address>
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
        <aside class="col box">
            <section class="widgets">
                <h2>Share</h2>
                <ul class="share">
                <li>
                <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="mozilla" data-related="USignite">Tweet</a>
                </li>
                <li>
                <div class="g-plusone" data-size="medium" data-url="http://www.mozillaignite.org{{ entry.get_absolute_url() }}"></div>
                </li>
                <li>
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.mozillaignite.org{{ entry.get_absolute_url() }}&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
                </li>

                </ul>
            </section>
            <section>
                <h2>Vote</h2>
                {% if user.is_authenticated() %}
                {% if user_vote and user_vote.is_upvote %}
                <form action="{{ url('entry_vote', object_id=entry.pk, direction='clear') }}" method="POST" id="user_vote">
                    {{ csrf()|safe }}
                    <input type="submit" class="cancel cta do" value="{{ _('Clear my vote') }}" />
                </form>
                {% else %}
                <form action="{{ url('entry_vote', object_id=entry.pk, direction='up') }}" method="POST" id="user_vote">
                    {{ csrf()|safe }}
                    <input type="submit" class="thumb cta do" value="{{ _('Give this a thumbs up') }}" />
                </form>
                {% endif %}
                {% else %}
                <p>If you would like to vote up this submission then please login or register to Mozilla Ignite.</p>
                {% endif %}
            </section>
            <section>
                <nav class="tags">
                <h2>Category</h2>
                <p><a href="{{ url('entries_for_category', category=entry.category.slug ) }}">{{ entry.category }}</a></p>
                </nav>
            </section>
            <section>
                <nav class="browser">
                <h2>More ideas</h2>
                <ul>
                {% if previous %}
                    <li class="box"><a href="{{ previous.get_absolute_url() }}"><div class="frame box"><img src="{{ previous.get_image_src() }}" alt="" /></div>Previous</a></li>
                {% endif %}
                {% if next %}
                    <li class="box"><a href="{{ next.get_absolute_url() }}"><div class="frame box"><img src="{{ next.get_image_src() }}" alt="" /></div>Next</a></li>
                {% endif %}
                </ul>
                </nav>
            </section>
        </aside>
        </div>
    </article>
{% endblock %}
{% block page_js %}
<script type="text/javascript">
    var disqus_shortname = 'mozillaignite',
        disqus_developer = 1,
        disqus_url = 'http://www.mozillaignite.org/' + '{{ entry.get_absolute_url() }}',
        disqus_identifier = '{{ entry.get_absolute_url() }}';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<script type="text/javascript">
    var disqus_shortname = 'mozillaignite',
        disqus_developer = 1,
        disqus_url = 'http://www.mozillaignite.org' + '{{ entry.get_absolute_url() }}',
        disqus_identifier = '{{ entry.get_absolute_url() }}';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); 
        po.type = 'text/javascript'; 
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
{% endblock %}
