{% extends "base.html" %}

{% block page_id %}show_submission{% endblock %}

{% block section_class %}entries{% endblock %}

{% block header %}
<a href="#" class="back announce">See all submissions</a>
<p class="announce">What apps would you make, if you could make anything?</p>
<a href="{{ url('create_entry') }}" class="cta">Create submission</a>
{% endblock %}

{% block content %}
    <article>
        <h1 class="shout">{{ entry.title }}</h1>
        <a href="#" class="cta do">Edit your idea</a>
        <div class="columns">
        <div class="col box">
            <div class="widgets">
                <p>Submitted on...</p>
            </div>
            <div class="frame box sketh">
                <img src="{{ MEDIA_URL }}/{{ entry.sketh_note }}" alt="" />
            </div>
            <div class="description">
            {{ entry.description_html }}
            </div>
            <address>
                <p><a href="{{ entry.created_by.get_absolute_url }}">{{ entry.created_by.name }}</a></p>
                <p>{{ entry.created_by.bio }}</p>
                <div class="frame box">
                    <img src="{{ entry.created_by.get_gravatar_url(80) }}" width="80" height="80" alt="" />
                </div>
            </address>
        </div>
        <aside class="col box">
            <section class="widgets">
                <p>Share...</p>
            </section>
            <section>
                <form action="" method="get">
                    {{ csrf|safe() }}
                    <input type="submit" class="cta do" value="{{ _('Give this a thumbs up') }}" />
                </form>
            </section>
            <section>
                <nav class="tags">
                <h2>Tagged as</h2>
                <ul>
                    <li><a href="#">Horses</a></li>
                    <li><a href="#">Cheese</a></li>
                </ul>
                </nav>
            </section>
            <section>
                <nav class="browser">
                <h2>More ideas</h2>
                <ul>
                    <li class="box"><a href="#"><div class="frame box"><img src="" alt="" /></div>Previous</a></li>
                    <li class="box"><a href="#"><div class="frame box"><img src="" alt="" /></div>Next</a></li>
                </ul>
                </nav>
            </section>
        </aside>
        </div>
    </article>
{% endblock %}
