{% extends "base.html" %}
{% from "challenges/helpers.html" import created_by with context %}

{% block page_id %}show_submission{% endblock %}

{% block section_class %}entries{% endblock %}

{% block site_title %}<h1 class="brand">Mozilla + US Ignite</h1>{% endblock %}

{% block content %}
    <a href="{{ challenge.get_absolute_url() }}">Back to entries</a>
    <section>
        <header>
            <h2>{{ entry.title }}</h2>
        </header>
        {{ entry.description_html }}
        {{ created_by(entry) }}
    </section>
{% endblock %}
