{% extends "base.html" %}
{% from "challenges/helpers.html" import created_by with context %}

{% block page_title %}{{ _('Winning submissions') }} | {% endblock %}

{% block page_id %}winning_submissions{% endblock %}

{% block section_class %}entries{% endblock %}

{% block content %}
<h1 class="shout">Green-lit submissions</h1>
{% for group_phase in entries|groupby('phase') %}
<h2>{{ group_phase.grouper.name }} phase</h2>
{% for group_round in group_phase.list|groupby('phase_round') %}
{% if group_round.grouper %}<h3>{{ group_round.grouper.name }}</h3>{% endif %}
<ol class="submissions columns">
  {% for entry in group_round.list %}
  {% include "challenges/includes/winning_entry.html"%}
  {% endfor %}
</ol>
{% endfor %}
{% endfor %}
{% endblock %}
