{% extends "base.html" %}
{% from "challenges/helpers.html" import created_by with context %}

{% block page_title %}{{ _('Winning submissions') }} | {% endblock %}

{% block page_id %}winning_submissions{% endblock %}

{% block section_class %}entries{% endblock %}

{% block content %}
<h1 class="shout">Green-lit submissions</h1>
{% if ideation_winners %}
<h2>Ideation</h2>
<ol class="submissions columns">
  {% for entry in ideation_winners %}
  {% include "challenges/includes/winning_entry.html"%}
  {% endfor %}
</ol>
{% endif %}


{% if development_winners %}
<h2>Development</h2>
{% for group in development_winners|groupby('phase_round') %}
{% if group.grouper %}<h3>{{ group.grouper.name }}</h3>{% endif %}
<ol class="submissions columns">
  {% for entry in group.list %}
  {% include "challenges/includes/winning_entry.html"%}
  {% endfor%}
</ol>
{% endfor %}
{% endif %}
{% endblock %}
