{% extends "base.html" %}
{% from "challenges/helpers.html" import created_by with context %}

{% block page_title %}{{ _('Winning submissions') }} | {% endblock %}

{% block page_id %}winning_submissions{% endblock %}

{% block section_class %}entries{% endblock %}

{% block content %}
<h1 class="shout">Green lit submissions</h1>
{% for group_phase in entries|groupby('phase') %}
<h2>{{ group_phase.grouper.name }} phase</h2>
{% for group_round in group_phase.list|groupby('phase_round') %}
{% if group_round.grouper %}<h3>{{ group_round.grouper.name }}</h3>{% endif %}
<ol class="submissions columns">
  {% for entry in group_round.list %}
  <li class="box col">
    <article>
      <a href="{{ entry.get_absolute_url() }}">
        <h4>
          <div class="frame box">
            <img src="{{ entry.get_image_src() }}" alt="">
          </div>
          {{ entry.title }}
        </h4>
      </a>
      <p>{{ entry.brief_description }}</p>
      <address>{{ created_by(entry, footer=False) }}</address>
    </article>
  </li>
  {% endfor %}
</ol>
{% endfor %}
{% endfor %}
{% endblock %}
